:root {
  --main-color: #ff9800;
}

*{
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container{
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px; 
  margin: auto;
}

/* Start Settings Box */

.settngs-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color:whitesmoke;
  width: 250px;
  z-index: 1000;
  width: 200px;
  min-height: 100vh;
  transition: 0.3s;
}

.settngs-box.open {
    left: 0;
}

.settngs-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: whitesmoke;
    cursor: pointer;
    /* width: 30px; */
    /* padding: 8px 0px; */
    text-align: center;
}

.settngs-box .toggle-settings .fa-gear {
    width: 30px;
    padding: 8px 0;
}

.settngs-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}

.settngs-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settngs-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settngs-box .option-box .colors-list li {
  width: 25px;
  height: 25px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  /* opacity: 0.5; */
  border: 1px solid #eee;
}

.settngs-box .option-box .colors-list li.active {
  /* opacity: 1; */
  border-color: #666;
}

.settngs-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}

.settngs-box .option-box .colors-list li:nth-child(2) {
  background-color: #2196f3;
}

.settngs-box .option-box .colors-list li:nth-child(3) {
  background-color: #ffeb3b;
}

.settngs-box .option-box .colors-list li:nth-child(4) {
  background-color: #e91e63;
}

.settngs-box .option-box .colors-list li:nth-child(5) {
  background-color: #8bc34a;
}

.settngs-box .random-background .yes,
.settngs-box .random-background .no {
  width: 50px;
  background-color: #2196f3;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.settngs-box .random-background span.active {
  opacity: 1;
}

/* End Settings Box */

/* Strt Landing Page */

.landing-page {
  min-height: 100vh;
  background-image: url("/img/04.jpg");
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}

.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}

.header-area .links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
}

.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}

.header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 100%;
}
.introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}

.introduction-text h1 span {
  color: var(--main-color);
}

.introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
/* End Landing Page */

/* STRTA ABOUT-US */
.about-us{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box{
  flex: 1;
  padding: 30px;
}
.about-us .info-box h2{
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;

}
.about-us .info-box p{
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .img-box{
  flex: 1;
  text-align: center;
}
.about-us .img-box img{
  width: 250px;
  
}
/* STRTA ABOUT-US */

/* STRTA SKILLS */
.skills{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2{
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skills-box{
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
.skills .skills-box .skill-name{
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
.skills .skills-box .skill-progress{
  height: 30px;
  width: 100%;
  /* width: calc(100% - 110px ); */
  background: color #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skills-box .skill-progress span{
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all .5s;
}
/* STRTA SKILLS */

/* start our Gallaery */
.gallery{
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery h2{
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box{
  text-align: center;

}
.gallery .images-box img{
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* Pop Up Box */
.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup-box{
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #ccc;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 10001;
  border-radius: 10px;
}
.popup-box h3{
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  margin: 0 0 20px;
}

.close-btn{
  position:absolute;
  background-color: var(--main-color);
  color: #eee;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
  border-radius: 50%;
  top:-15px;
  right:-15px;
  cursor: pointer;
}
.popup-box img{
  max-width: 100%;
}
/* End our Gallaery */

/* start time line */
.timeLine{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeLine .timeLine-contenet{
  position: relative;
  overflow: hidden;
}
/* .cont{
  display: flex;
  justify-content: space-between;
  text-align: center; 
} */

.timeLine .timeLine-contenet:before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  left: 50%;
  margin-left: -1px;
  top: 0;
}

.timeLine .timeLine-contenet .year{
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
}

.timeLine .timeLine-contenet .left,
.timeLine .timeLine-contenet .right{
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative; 
}

.timeLine .timeLine-contenet .left{
  float: left;
}

.timeLine .timeLine-contenet .left:before{
  right: -35px;
}
.timeLine .timeLine-contenet .right{
  float: right;
}
.timeLine .timeLine-contenet .right:before{
  left: -35px;
}

.timeLine .timeLine-contenet .left:before,
.timeLine .timeLine-contenet .right:before{
  content: '';
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}

.clearFix{
  clear: both;
}

.timeLine .timeLine-contenet .left .content:before{
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 20px;
}
.timeLine .timeLine-contenet .right .content:before{
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
  top: 20px;
}


.timeLine .timeLine-contenet .content{
  padding: 20px;
  background-color: #fff;
}
.timeLine .timeLine-contenet .content h3{
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeLine .timeLine-contenet .content p{
  color: #666;
  margin: 0;
  line-height: 1.6;
}


/* end time line */

/* start feature */
.feature{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #eee;
}

.feature-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 2%; */
}

.feature h2{
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}

.feat-box{
  width: calc(100% / 3);
  text-align: center;
  margin-bottom: 40px;
}

.feat-box img{
  width: 30%;
}

.feat-box h4{
  font-size: 22px;
  margin-bottom: 40px;
  position: relative;
}

.feat-box h4::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  left: 50%;
  margin-left: -20px;
  bottom: -15px;
}

.feat-box p{
  color: #707070;
}
/* end feature */

.testimonials{
  min-height: 600px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonials::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
}
.testimonials::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #333;
  right: 0;
  top: 0;
} 

.testimonials h2{
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 60px;
  text-align: left;
  position: relative;
  z-index: 2;
}

.ts-container{
  display: flex;
  justify-content: space-around;
  gap: 1%;
  justify-content: center;
}

.ts-box{
  position: relative;
  z-index: 2;
  width: calc(100% / 3);
  background-color: #eee;
  text-align: center;
  padding: 1%;
}

.ts-box > p {
  color: #707070;
  font-style: italic;
}

.person-info{
  display: flex;
  justify-content: space-around;
}

.person-info img{
  border: 1px solid var(--main-color);
  border-radius: 50%;
  padding: 3px;
  background-color: #f6f6f6;
}

.person-container{
  /* border: 1px solid var(--main-color); */
  width: 50%;
}

.person-container h4,p{
  font-size: medium;
}
/* start testimonials */


/* END testimonials */

